.BOTTOM	{
		position: fixed; 
		width: 100%; 
		bottom: 0px; 
		display: flex; 
		justify-content: center; 
		/*z-index: 2;*/
		}

.BOTTOM_MENU{
		width: 100%;
		height: 90px;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		bottom: 0px;

		display: flex;
		justify-content:space-between;
		box-shadow: 0 0 25px 25px white;
		}

.ICON 	{
		height: 85px; 
		width: 85px; 
		top: 5px;
		background-color: white;
		border-radius:50%;
		}

.ICON IMG{
		height: 60px;
		margin-left: 12px;
		margin-top: 12px;
		z-index: 3;
		}

@media only screen and (max-width: 900px)
{
	.BOTTOM{
		display: flex;
	}
	.ICON{
		height: 85px;
		width: 85px; 
	}
	.BOTTOM_MENU{
		height: 90px;
	}
	#footer_b{
		visibility: hidden;
		display: none;
	}
	.has-submenu{
		display: none !important;
	}
}

@media only screen and (min-width: 900px)
{
	.BOTTOM{
		display: none;
	}
	.ICON{
		height: 85px;
		width: 85px; 
	}
	.BOTTOM_MENU{
		height: 90px;
	}
	#footer_b{
		visibility: visible;
	}
	.has-submenu{
		display: block;
	}
}	

@media only screen and (max-width: 450px)
{
	.ICON{
		height: 60px;
		width: 60px; 
	}
	.BOTTOM_MENU{
		height: 65px;
	}
}	
